<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col>
                  <ion-list inset>
                    <ion-item>
                      <ion-input type="text" placeholder="Username" name="username" formControlName="username"></ion-input>
                      <ion-text color="danger">
                        {{formErrors.username}}
                      </ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
                      <ion-text color="danger">
                        {{formErrors.password}}
                      </ion-text>
                    </ion-item>     
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-router-link class="ion-margin-start clickable underline" color="primary" (click)="forgotPassword()">Forgot Password?</ion-router-link>
                </ion-col>
              </ion-row>
        </ion-grid>
      </form>
</ion-content>
<ion-footer class="ion-padding">
  <ion-list>
      <ion-item class="ion-text-center" button color="new" (click)="login()">
        <ion-label>Log In</ion-label>
      </ion-item>
    </ion-list>
</ion-footer>
