<ion-header>
  <ion-toolbar>
    <ion-title>New Dank Spot</ion-title>
    <ion-buttons slot="primary">
      <ion-button  color="primary" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
              <ion-col text-center>
                <ion-input type="text" placeholder="spot name" formControlName="name"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-center>
                <ion-button color="new" expand="full" (click)="closeModal()">Add Spot</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
    </form>
</ion-content>