<ion-header>
  <ion-toolbar>
    <ion-title>New Dank Spot</ion-title>
    <ion-buttons slot="primary">
      <ion-button  color="primary" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
              <ion-col text-center>
                <ion-input type="text" placeholder="Spot Name" formControlName="name"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                  <ion-textarea rows="4" placeholder="Enter any description here..."></ion-textarea>
                </ion-col>
              </ion-row>
            <ion-row>
              <ion-col text-center>
                <ion-card (click)="presentActionSheet()" *ngIf="!image">
                  <ion-card-header>
                    <ion-card-title>Upload Image(s)</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-icon class="uploadImageIcon" name="cloud-upload"></ion-icon>
                  </ion-card-content>
                </ion-card>
                <ion-card *ngIf="image">
                  <ion-card-content>
                  <img [src]="image" />
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-center>
                <ion-button color="new" expand="full"  (click)="addDSpot()">Add Spot</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
    </form>
</ion-content>