<ion-content color="dark">
  <ion-header class="signup-title">SIGN UP</ion-header>
  <br>
  <form #registerForm="ngForm"> 
    <ion-item>
      <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="username" required></ion-input>
    </ion-item>            
    <ion-item>
      <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required></ion-input>
    </ion-item> 
    <ion-item>
      <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <div class="signup-buttons-container">
      <ion-button color="success" (click)="register()">Register</ion-button>    
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </div>  
  </form>
</ion-content>