.login-container {
    height: 100%;
    width: 100%;
    background-color: #2B2D2F;
    padding: 40px;
}

.login-fields {
    background: #404040;
    color: #ffffff;
}

.login-button {
    width: 100%;
}

#login-logo {
    width: 100px;
    height: 100px;
}

.signup-title {
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    font-family: Krungthep;
}

.signup-buttons-container {
    margin-top: 10px;
}