<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list inset>            
                      <ion-item>
                        <ion-input type="email" placeholder="Email" name="email" formControlName="email"></ion-input>
                        <ion-text color="danger">
                          {{formErrors.email}}
                        </ion-text>
                      </ion-item>   
                      <ion-item>
                        <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
                        <ion-text color="danger">
                          {{formErrors.password}}
                        </ion-text>
                      </ion-item>                           
                    </ion-list>
                </ion-col>
              </ion-row>      
        </ion-grid>
      </form>
</ion-content>
<ion-footer padding>
    <ion-button margin-bottom color="new" expand="full"  (click)="signUp()">Sign Up</ion-button>
</ion-footer>